[Unit]
Description=Radio checkout script

[Service]
Type=simple
ExecStart=/usr/bin/gunicorn --bind 0.0.0.0:80 radioman:APP
WorkingDirectory=/opt/radios/
User=root
Restart=always

[Install]
WantedBy=multi-user.target
