<!DOCTYPE html>
<html>
  <head>
    <title>MAGFest Official Radio Checkout System</title>
    <style type="text/css">
      .error {
        color: #ff0000;
        font-size: 8em;
      }

      .message {
        color: #00ff00;
      }

      .warn {
        color: #ff8800;
        font-size: 8em;
      }

      tr.checked-in {
        background-color: #CAFFD8;
      }

      tr.checked-out {
        background-color: #FFBBBB;
      }

      .headset-yes {
        background: #E1E1FF;
      }

      #navbar {
        right: 5px;
        top: 5px;
        position: fixed;$
        background-color: gray;
      }

      .big-section {
        float: left;
        padding: 10px;
      }
    </style>
  </head>

  <body>
  <div id="navbar">
	  Jump to...
	  <ul>
		  <li><a href="#radios">Radios</a></li>
		  <li><a href="#headsets">Headsets</a></li>
		  <li><a href="#batteries">Batteries</a></li>
	  </ul>
  </div>
  <div class="big-section">
    <h1> Radio Checkout </h1>

    {% import "macros.jinja" as macros %}

    {% if error %}
    <h2 class="error">Stop! {{ error }} &mdash; <em>Action Canceled</em></h2>
    {% elif msg %}
    <h2 class="message">{{ msg }}</h2>
	{% elif warn %}
	<h2 class="warn">{{ warn }}</h2>
    {% endif %}

    <h3 id="radios">Radios</h3>

    <table>
      <thead>
	<tr>
	  <th>ID</th>
	  <th>Status</th>
	  <th>Name / Badge</th>
	  <th>Department</th>
	  <th>Headset</th>
	  <th>Check Out</th>
	  <th>Check In</th>
	</tr>
      </thead>
      <tbody>
	{% for number, radio in radios %}
	{% if radio['status'] == "CHECKED_IN" %}
	<tr class="checked-in">
	  <form action="/checkout" method="post">
	    <td><a href="/radio/{{ number }}">Radio {{ number }}</a></td>
	    <td title="{{ radio['last_activity']|full_date }}">In {% if radio['last_activity'] %}{{ radio['last_activity']|rel_date }}{% endif %}</td>
	    <td>
	      <input name="name" type="text" placeholder="Name" required="true"/>
	    </td>
	    <td>
	      {{ macros.deptinput(departments) }}
	    </td>
	    <td>
	      <input name="headset" type="checkbox" value="1"/>
	    </td>
	    <td>
		<input type="hidden" name="id" value="{{ number }}"/>
		<input type="submit" name="action" value="Check Out" class="btn-check-out"/>
	    </td>
	    <td/>
	  </form>
	</tr>
	{% elif radio['status'] == "CHECKED_OUT" %}
	{% set headset = radio['checkout'].get('headset', False) %}
	<tr class="checked-out">
	  <td><a href="/radio/{{ number }}">Radio {{ number }}</a></td>
	  <td title="{{ radio['last_activity']|full_date }}">Out {{ radio['last_activity']|rel_date }}</td>
	  <td>{{ radio['checkout']['borrower']|link('person') }}</td>
	  <td>{{ radio['checkout']['department']|link('dept') }}</td>
	  <td class="headset-{{ 'yes' if headset else 'no' }}">{{ 'Yes' if headset else 'No' }}</td>
	  <td/>
	  <td>
	    <form action="/checkin" method="post">
	      <input type="hidden" name="id" value="{{ number }}"/>
	      <input type="submit" value="Return"/>
	    </form>
	  </td>
	</tr>
    {% endif %}
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="big-section">
	<hr/>
	<h3 id="headsets">Headsets</h3>
	<table>
		<thead>
		<tr>
			<th>Status</th>
			<th>Name / Badge</th>
			<th>Department</th>
			<th>Check Out</th>
			<th>Check In</th>
		</tr>
		</thead>
		<tbody>
		<tr class="checked-in">
			<form action="/headsetout" method="post">
				<div>
					<td>{% if headsets > 0 %}{{ headsets }} Remaining{% else %}{{ -headsets }} Checked Out{% endif %}</td>
					<td><input type="text" name="borrower" required="required" placeholder="Name"/></td>
					<td>{{ macros.deptinput(departments) }}</td>
					<td><input type="submit" value="Check Out"/></td>
					<td/>
				</div>
			</form>
		</tr>
		{% for headset in headsets_out %}
		<tr class="checked-out">
			<td title="{{ headset['time']|full_date }}">Out {{ headset['time']|rel_date }}</td>
			<td>{{ headset['borrower']|link('person') }}</td>
			<td>{{ headset['department']|link('dept') }}</td>
			<td/>
			<td><form action="/headsetin" method="post"><div>
				<input type="hidden" name="borrower" value="{{ headset['borrower'] | quote }}"/>
				<input type="hidden" name="department" value="{{ headset['department'] | quote }}"/>
				<input type="submit" value="Check In"/></div></form></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
    <hr/>

	<h3 id="batteries">Batteries</h3>
	<table>
		<thead>
		<tr>
			<th>Status</th>
			<th>Name / Badge</th>
			<th>Department</th>
			<th>Check Out</th>
			<th>Check In</th>
		</tr>
		</thead>
		<tbody>
		<tr class="checked-in">
			<form action="/batteryout" method="post">
				<div>
					<td>{% if batteries > 0 %}{{ batteries }} Remaining{% else %} {{ -batteries }} Checked Out{% endif %}</td>
					<td><input type="text" name="borrower" required="required" placeholder="Name"/></td>
					<td>{{ macros.deptinput(departments) }}</td>
					<td><input type="submit" value="Check Out"/></td>
					<td/>
				</div>
			</form>
		</tr>
		{% for battery in batteries_out %}
		<tr class="checked-out">
			<td title="{{ battery['time']|full_date }}">Out {{ battery['time']|rel_date }}</td>
			<td>{{ battery['borrower']|link('person') }}</td>
			<td>{{ battery['department']|link('dept') }}</td>
			<td/>
			<td><form action="/batteryin" method="post"><div>
				<input type="hidden" name="borrower" value="{{ battery['borrower'] | quote }}"/>
				<input type="hidden" name="department" value="{{ battery['department'] | quote }}"/>
				<input type="submit" value="Check In"/></div></form></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
    <hr/>
    <form action="/newradio" method="post">
      <div>
	<input placeholder="Radio ID" type="number" name="id" maxlength="5"/> <input type="submit" value="Add Radio"/>
      </div>
    </form>
    <br/>

    <a href="javascript: w=window.open('/printable'); w.print();">Print Offline Version</a> | <a href="/bulkadd">Bulk Add Radios</a>
  </div>
  </body>
</html>
