<!DOCTYPE html>
<html>
  <head>
    <title>MAGFest Official Radio Checkout System</title>
    <style type="text/css">
      .error {
        color: #ff0000;
      }

      .message {
        color: #00ff00;
      }

      tr.checked-in {
        background-color: #CAFFD8;
      }

      tr.checked-out {
        background-color: #FFBBBB;
      }

      .headset-yes {
        background: #E1E1FF;
      }
    </style>
  </head>

  <body>
    <h1><a href="/">&larr;</a>  {{ name }} </h1>

	{% if headsets > 0 %}
	<h2>{{ headsets }} headset{{ '' if headsets == 1 else 's' }} checked out:</h2>
	<form action="/headsetin?page=/person/{{ name }}" method="post"><div><input type="hidden" name="borrower" value="{{ name }}"/><input type="submit" value="Check In Headset"/></div></form>
	{% endif %}

	{% if batteries > 0 %}
	<h2>{{ batteries }} batter{{ 'y' if batteries == 1 else 'ies' }} checked out:</h2>
	<form action="/batteryin?page=/person/{{ name }}" method="post"><div><input type="hidden" name="borrower" value="{{ name }}"/><input type="submit" value="Check In Battery"/></div></form>
	{% endif %}

	{% if radios > 0 %}
	<h2>{{ radios }} Radio{{ '' if radios == 1 else 's' }} checked out:</h2>
	<table>
		<thead>
		<tr>
		<th>ID</th>
		<th>Status</th>
		<th>Department</th>
		<th>Check In</th>
		<tr/>
		</thead>
		<tbody>
		{% for id, checkout in out_radios %}
		<tr>
			<td>{{ id|link('radio') }}</td>
			<td title="{{ checkout['time']|full_date }}">Out {{ checkout['time']|rel_date }}</td>
			<td>{{ checkout['department']|link('dept') }}</td>
			<td><form action="/checkin?page=/person/{{ name }}" method="post"><div><input type="hidden" name="id" value="{{ id }}"/><input type="submit" value="Check In"/></div></form></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endif %}

	<hr/>
	<h2>History</h2>

    <table>
      <thead>
	<tr>
	  <th>Time</th>
	  <th>Action</th>
      <th>Department</th>
	  <th>Item</th>
	</tr>
      </thead>
      <tbody>
	  {% for evt in history|sort(True, attribute='time') %}
      {% if evt['status'] == "CHECKED_IN" %}<tr class="checked-in">{% else %}<tr class="checked-out">{% endif %}
	  <td title="{{ evt['time']|full_date }}">{% if evt['time'] %}{{ evt['time']|rel_date }}{% endif %}</td>
	  <td>{{ {"CHECKED_IN": 'Checked In', "CHECKED_OUT": 'Checked Out', "LOCKED": "Locked"}[evt['status']] }}</td>
	  <td>{{ evt['department']|link('dept')|default('-', True) }}</td>
	  <td>{% if evt['type'] == 'radio' %}<a href="/radio/{{ evt['id'] }}">Radio {{ evt['id'] }}</a>{% else %}{{ evt['type']|title }}{% endif %}</td>
	</tr>
	{% endfor %}
    </tbody>
  </table>
 </body>
</html>
